<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="StudentDAO" class="com.course.task.logic.StudentDAO" scope="session">
        <aop:scoped-proxy/>
    </bean>
    <bean id="SubjectDAO" class="com.course.task.logic.SubjectDAO" scope="session">
        <aop:scoped-proxy/>
    </bean>
    <bean id="MarkDAO" class="com.course.task.logic.MarkDAO" scope="session">
        <aop:scoped-proxy/>
    </bean>
    <bean id="Utility" class="com.course.task.logic.Utility" scope="singleton"/>

</beans>